/* This file will hold styles that are loaded using the same media query as the wide grid. */

/** BLOCK IN THE SPOTLIGHT **/
.block-in-the-spotlight-block {
  margin-top: 30px;
}

#logo img {
  width: auto;
}


/** HOMEPAGE "EVENTS & AGENDA" **/
.block-events-block, .block-agenda-block { 
  width: 47%;
}
.block-events-block {
  width: 48%;
}

