/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/** FOOTER BOTTOM for grid pages **/

html, body {
  height: 100%;
  font-family: "Open Sans";
}

#page {
  min-height: 100%;
  position: relative;
}

#section-content {
  padding-bottom: 500px;
}

#section-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  background: #1d2831;
}

.zone-user-wrapper {
  height: 120px;
}

.zone-user {
  padding-top: 10px;
}

/** LOGO **/
.zone-user .block-logo {
  margin-top: 10px;
  padding-left: 20px;
}


/** SERVICE MENU **/
.region-branding {
}

.region-branding .block-nice-menus-1 {
  float: right;
}

.region-branding .block-nice-menus-1 ul.nice-menu-down li, .region-branding .block-nice-menus-1 ul.nice-menu-down li ul {
  border: none;
  background: white;
}

.region-branding .block-nice-menus-1 ul li a {
  color: black;
}


/** HOMEPAGE "MAGAZINE ARTICLES" 1st alone **/
.zone-content .block-magazine-articles-block-2 {
  clear: both;
  padding-top: 20px;
}

.zone-content .block-magazine-articles-block-2 .view-magazine-articles ul li {
  height: 140px;
}



/** HOMEPAGE MAGAZINE BLOCK **/
#block-views-magazine-covers-block {
  width: 68%;
}

/** HOMEPAGE Newsletter Block **/
#block-block-7 {
  width: 30%;
}

/** HOMEPAGE Classified Ads Block **/
#block-views-classified-ads-block {
  width: 30%;
}


/** FOOTER 1: POSTSCRIPT **/
.zone-postscript h2 {
  color: #d4d9dc;
  text-shadow: none;
}

.zone-postscript-wrapper {
  background: #7b838a;
  height: 400px;
  overflow: hidden;
}

.zone-postscript {
  padding-top: 30px;
}

.zone-postscript, .zone-postscript a,
.zone-postscript .block-views ul li .views-field-title a {
  color: #d4d9dc;
}

.zone-postscript h2 {
  font-family: "LeagueGothicRegular";
  font-size: 2.308em;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  padding-bottom: 15px;
}

.zone-footer {
  line-height: 100px;
  text-align: center;
  color: white;
}

.zone-footer a {
  color: white;
}

.zone-footer p {
  margin: 0;
}

/** FORMS FIELDSETS PART 1 & PART 2 **/
form.webform-client-form .compact-form-label {
  color: #666;
  font-weight: lighter;
}

form.webform-client-form .webform-component-fieldset {
  width: 45%;
  margin-right: 5%;
  float: left;
}

form.webform-client-form .webform-component-fieldset input.form-text {
  width: 100%;
}

form.webform-client-form #webform-component-part-2 {
  margin-right: 0;
}

form.webform-client-form .webform-component-markup {
  clear: left;
}

form.webform-client-form #edit-actions {
  clear: left;
}

/** BANNERS SIDEBAR SECOND **/
.not-front .region-sidebar-second {
  margin-top: 20px;
  text-align: center;
}

.not-front .region-content {
  margin-top: 20px;
}


.region-sidebar-second .block-views-banners-block-1 ul li img {
  width: auto;
  
}
