/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/** Region Header **/
.region-header-first {
  margin-right: 0 !important;
  padding-right: 10px;
  background: url(../img/bg-zone-header.jpg);
  height: 61px;
  line-height: 61px;
	border-bottom: 4px solid #7b838a;
}

.region-header-second {
  margin-left: 0 !important;
  padding-left: 10px;
  background: url(../img/bg-zone-header.jpg);
  height: 61px;
  line-height: 61px;
	border-bottom: 4px solid #7b838a;
}


/** BANNER LEADERBOARD BOVENAAN **/
.region-user-second .block-banners-block {
	float: right;
}


/** SEARCH FORM **/
.block-search-form form {
  margin-right: 10px;
	margin-bottom: 0;  
}


/** MAIN MENU **/
.block-nice-menus-2 {
  height: 35px;
  margin-top: 16px;
}

.block-nice-menus-2 ul.nice-menu {
  margin: 0;
  margin-left: 10px;
}

.block-nice-menus-2 ul.nice-menu li {
  list-style: none; 
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #00bde4;  
  line-height: 35px;
  height: 35px;
  padding: 0 10px;
}

.block-nice-menus-2 ul.nice-menu li a {
  padding: 0 10px;
}

.block-nice-menus-2 ul.nice-menu li.last {
  border-right: none;
}

.block-nice-menus-2 ul.nice-menu li a.active, .block-nice-menus-2 ul.nice-menu li a:hover, .block-nice-menus-2 ul.nice-menu li.active-trail > a {
  color: white;
  background: #00bde4;
}

.block-nice-menus-2 ul.nice-menu li a.last {
  border: none;
}

.block-nice-menus-2 ul.nice-menu li a#home-link {
  display: block;
  width: 30px;
  background: url(../img/home-link.png) no-repeat center bottom;
  text-indent: -999em;
  padding: 0 10px;
  border: none;
}

.block-nice-menus-2 ul.nice-menu li a#home-link.active, .block-nice-menus-2 ul.nice-menu li a#home-link:hover {
  background: #00bde4 url(../img/home-link.png) no-repeat center top;
}


.block-nice-menus-2 ul.nice-menu li.over, .block-nice-menus-2 ul.nice-menu li.menuparent {
  background: none;
}

.block-nice-menus-2 ul.nice-menu li ul {
  border: none;
  background: #ededed;
  left: 10px;
  margin-top: -7px;
}

.block-nice-menus-2 ul.nice-menu li ul li {
  border: none;
  padding: 0;
  font-size: 0.833em;
}

.block-nice-menus-2 ul.nice-menu li ul li a {
  text-shadow: 0 1px 1px white;
}

.block-nice-menus-2 ul.nice-menu li ul li a:hover, .block-nice-menus-2 ul.nice-menu li ul li.active a, .block-nice-menus-2 ul.nice-menu li ul li.active-trail a, .block-nice-menus-2 ul.nice-menu li.active-trail ul li.active-trail a, .block-nice-menus-2 ul.nice-menu li ul li a.active {
  text-shadow: 0 1px 1px #666;
}

/** HOMEPAGE OFFERS **/
.block-offers-block-2 .view-header {
  width: 30%;
  text-align: center;
  padding: 10px;
  background: #f3f4f4;
  border: 1px solid #e4e4e4;
  float: right;
  margin-right: 20px;
}
.block-offers-block-2 ul {
  margin-right: 35%;
}

.block-offers-block-2 ul li {
  width: 47%;
  margin-right: 4%;
  float: left;
}

.block-offers-block-2 ul li.last {
  margin-right: 0;
}

/** HOMEPAGE ARTICLES 3 IN A ROW **/
.zone-content .block-magazine-articles-block .view-magazine-articles ul li {
  width: 30%;
  float: left;
  margin-right: 5%;
}

/** BANNERS 2nD SIDEBAR **/
.region-sidebar-second .block-banners-block-1 {
  margin-top: 20px;
}


/** LIFE AWAY PAGE **/

.block-views-magazine-articles-block-3 {
  margin-top: 20px;
}

.block-views-magazine-articles-block-3 ul {
  list-style: none;
  margin: 0;
}

.block-views-magazine-articles-block-3 ul li {
  width: 45%;
  margin-right: 10%;
  float: left; 
  border-bottom: 1px solid #ededed;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.block-views-magazine-articles-block-3 ul li.last {
  margin-right: 0;
}

.block-views-magazine-articles-block-3 ul li .views-field-field-article-type a {
  background: #00bde4;
  padding: 5px 12px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
}

.block-views-magazine-articles-block-3 ul li .views-field-field-article-type a:hover {
  background: #c4c4c4;
  color: black;
  text-shadow: 0 1px 1px white;
}


/** AT YOUR SERVICE PAGE: ADS AND OFFERS **/
.block-classified-ads-block-1 ul {
  margin: 0; 
  list-style: none;
}

.block-classified-ads-block-1 ul li {
  width: 20%;
  margin-right: 5%;
  float: left;
  border-bottom: 1px solid #ededed;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.block-classified-ads-block-1 ul li.last {
  margin-right: 0;
}